<div class="page">
  <app-toolbar class="header"></app-toolbar>
  <mat-card>
    <mat-card-title style="margin-bottom:-45px; margin-top: 15px">Registration</mat-card-title>
    <mat-card-content>
      <form [formGroup]="ngForm" (ngSubmit)="onSubmit()">
        <p>
          <mat-form-field>
            <input type="text" matInput placeholder="First Name" formControlName="firstName">
          </mat-form-field>
        </p>

        <p>
          <mat-form-field>
            <input type="text" matInput placeholder="Last Name" formControlName="lastName">
          </mat-form-field>
        </p>
        <p>
          <mat-form-field>
            <input type="text" matInput placeholder="Email" formControlName="email" (click)="ngForm.controls.email.markAsTouched()">
            <mat-error *ngIf="ngForm.controls.email.invalid">Not a valid email</mat-error>
          </mat-form-field>
        </p>
        <p>
          <mat-form-field>
            <mat-label>Marital Status</mat-label>
            <mat-select id="sel1"  formControlName="maritalStatus">
              <mat-option value="SINGLE">Single</mat-option>
              <mat-option value="MARRIED">Married</mat-option>
              <mat-option value="IN_A_RELATIONSHIP">In a relationship</mat-option>
            </mat-select>
          </mat-form-field>
        </p>
        <p>
          <mat-form-field>
            <input type="number" min="0" max="100" matInput placeholder="How old are you" formControlName="years">
            <mat-error *ngIf="ngForm.controls.years.invalid">Years must be between 10 and 100.</mat-error>
          </mat-form-field>
        </p>
        <p>
          <mat-form-field>
            <input type="number" min="0" max="15" matInput placeholder="How many kids do you have" formControlName="numberOfKids">
            <mat-error *ngIf="ngForm.controls.numberOfKids.invalid">Number of kids must be between 0 and 15.</mat-error>
          </mat-form-field>
        </p>

        <p>
          <mat-form-field>
            <input type="password" matInput placeholder="Password" formControlName="password" (click)="ngForm.controls.password.markAsTouched()">
            <mat-error *ngIf="ngForm.controls.password.invalid">Your password must contain at least one uppercase, one lowercase,
            one number and one special character.</mat-error>
            <mat-error *ngIf="ngForm.controls.password.hasError('minlength')">Password must be at least 8 characters long.</mat-error>
          </mat-form-field>
        </p>

        <div class="button">
          <button type="submit" [disabled]="!ngForm.valid" mat-button>Register</button>
        </div>

      </form>
    </mat-card-content>
  </mat-card>
</div>
